.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  background-color: transparent;
  padding: 10px;
  color: rgb(27, 160, 27);
  font-family: fantasy;
  font-weight: bold;
}
.grid-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  background-color: transparent;
  padding: 10px;
  color: rgb(27, 160, 27);
  font-family: fantasy;
  font-weight: bold;
}

.grid-item a {
  display: block;
  text-decoration: none;
  
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

#greenhouse {
  width: 700px;
  height: 500px;
  
}

#supply {
  width: 700px;
  height: 500px;
}
h1 { 
  color: rgb(21, 199, 21);
  font-size: 80px;
  font-family: fantasy;
  font-weight: bold;
}

#body {
    padding: 10px 0px;
    height: 900px;
    background: url("assets/images/Catalogbackground.png") no-repeat ;
    background-size: cover;    
}