.top-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px 0px;
  margin: 5px;
  background-color: #f2f2f2;
  font-size: 20px;

}

.top-bar ul {
  display: flex;
}

.top-bar li {
  margin: 0 10px;
}

.top-bar a {
  color: #333;
  text-decoration: none;
  padding: 10px;

}

.top-bar a:hover {
  background-color: #ddd;
}

.body {
    padding: 10px 0px;
    height: 1500px;
    background: url("assets/images/green-fingers-logo.png") no-repeat ;
    background-size: cover;    
}

 h1 {
    font-size: 60px;
    text-align: center;

 }

 h2 {
    font-size: 35px;
 }

header {
    background-color: white;
}
